*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.-bottom-\[0px\] {
  bottom: -0px
}

.left-0 {
  left: 0px
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.m-\[0_16px_0_0\] {
  margin: 0 16px 0 0
}

.m-\[4px_0_0_0\] {
  margin: 4px 0 0 0
}

.m-0 {
  margin: 0px
}

.m-\[0_5px_0_0\] {
  margin: 0 5px 0 0
}

.mx-\[16px\] {
  margin-left: 16px;
  margin-right: 16px
}

.my-\[8px\] {
  margin-top: 8px;
  margin-bottom: 8px
}

.my-\[12px\] {
  margin-top: 12px;
  margin-bottom: 12px
}

.mb-\[24px\] {
  margin-bottom: 24px
}

.mr-\[11px\] {
  margin-right: 11px
}

.mr-\[8px\] {
  margin-right: 8px
}

.mt-\[10px\] {
  margin-top: 10px
}

.mb-\[10px\] {
  margin-bottom: 10px
}

.mb-\[16px\] {
  margin-bottom: 16px
}

.mr-\[12px\] {
  margin-right: 12px
}

.mb-0 {
  margin-bottom: 0px
}

.mt-\[8px\] {
  margin-top: 8px
}

.flex {
  display: flex
}

.h-\[60px\] {
  height: 60px
}

.h-\[36px\] {
  height: 36px
}

.h-\[calc\(100vh-60px\)\] {
  height: calc(100vh - 60px)
}

.h-\[50px\] {
  height: 50px
}

.h-\[500px\] {
  height: 500px
}

.w-\[36px\] {
  width: 36px
}

.w-full {
  width: 100%
}

.w-\[15vw\] {
  width: 15vw
}

.w-\[50px\] {
  width: 50px
}

.w-\[25\%\] {
  width: 25%
}

.w-\[60px\] {
  width: 60px
}

.w-\[80vw\] {
  width: 80vw
}

.flex-1 {
  flex: 1 1 0%
}

.translate-y-\[100\%\] {
  --tw-translate-y: 100%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-\[14px\] {
  gap: 14px
}

.gap-\[8px\] {
  gap: 8px
}

.gap-\[12px\] {
  gap: 12px
}

.overflow-hidden {
  overflow: hidden
}

.rounded-\[8px\] {
  border-radius: 8px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-\[4px\] {
  border-radius: 4px
}

.border {
  border-width: 1px
}

.border-r-\[1px\] {
  border-right-width: 1px
}

.border-t-0 {
  border-top-width: 0px
}

.border-l-0 {
  border-left-width: 0px
}

.border-b-0 {
  border-bottom-width: 0px
}

.border-b-\[1px\] {
  border-bottom-width: 1px
}

.border-r-0 {
  border-right-width: 0px
}

.border-t-\[1px\] {
  border-top-width: 1px
}

.border-solid {
  border-style: solid
}

.border-\[\#CAD8E6\] {
  --tw-border-opacity: 1;
  border-color: rgb(202 216 230 / var(--tw-border-opacity))
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[\#F5F5F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[\#E5F9FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 249 255 / var(--tw-bg-opacity))
}

.object-cover {
  object-fit: cover
}

.p-\[12px\] {
  padding: 12px
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px
}

.px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px
}

.px-\[12px\] {
  padding-left: 12px;
  padding-right: 12px
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px
}

.pl-\[12px\] {
  padding-left: 12px
}

.pr-\[24px\] {
  padding-right: 24px
}

.pt-\[32px\] {
  padding-top: 32px
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[14px\] {
  font-size: 14px
}

.text-\[12px\] {
  font-size: 12px
}

.font-\[700\] {
  font-weight: 700
}

.font-\[400\] {
  font-weight: 400
}

.font-\[16px\] {
  font-weight: 16px
}

.font-\[12px\] {
  font-weight: 12px
}

.font-\[14px\] {
  font-weight: 14px
}

.uppercase {
  text-transform: uppercase
}

.leading-\[18px\] {
  line-height: 18px
}

.leading-\[20px\] {
  line-height: 20px
}

.leading-\[16px\] {
  line-height: 16px
}

.leading-\[14px\] {
  line-height: 14px
}

.text-\[\#333333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity))
}

.text-\[\#616161\] {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity))
}

.text-\[\#2EA2C7\] {
  --tw-text-opacity: 1;
  color: rgb(46 162 199 / var(--tw-text-opacity))
}

.text-\[\#797979\] {
  --tw-text-opacity: 1;
  color: rgb(121 121 121 / var(--tw-text-opacity))
}

.text-\[\#9F9F9F\] {
  --tw-text-opacity: 1;
  color: rgb(159 159 159 / var(--tw-text-opacity))
}

.text-\[\#00aded\] {
  --tw-text-opacity: 1;
  color: rgb(0 173 237 / var(--tw-text-opacity))
}

.text-\[\#208B33\] {
  --tw-text-opacity: 1;
  color: rgb(32 139 51 / var(--tw-text-opacity))
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:bg-\[\#ecebeb\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(236 235 235 / var(--tw-bg-opacity))
}

.hover\:bg-\[\#E5F9FF\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 249 255 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:text-\[\#2EA2C7\] {
  --tw-text-opacity: 1;
  color: rgb(46 162 199 / var(--tw-text-opacity))
}